	public void initAllPions() {
		Token pionRouge = new Token("RED");
		Cell cellRouge1 = this.plateau.getCellAtCoordinates(1, 0);
		Cell cellRouge2 = this.plateau.getCellAtCoordinates(2, 0);
		pionRouge.cell1 = cellRouge1;
		pionRouge.cell2 = cellRouge2;
		playerR.pion = pionRouge;
		cellRouge1.pion = pionRouge;
		cellRouge2.pion = pionRouge;

		Token pionBleu = new Token("BLUE");
		Cell cellBleu1 = this.plateau.getCellAtCoordinates(1, 1);
		Cell cellBleu2 = this.plateau.getCellAtCoordinates(2, 1);
		pionBleu.cell1 = cellBleu1;
		pionBleu.cell2 = cellBleu2;
		playerB.pion = pionBleu;
		cellBleu1.pion = pionBleu;
		cellBleu2.pion = pionBleu;

		this.pionBlanc = new Token("WHITE");
		Cell cellBlanc1 = this.plateau.getCellAtCoordinates(1, 2);
		Cell cellBlanc2 = this.plateau.getCellAtCoordinates(2, 2);
		this.pionBlanc.cell1 = cellBlanc1;
		this.pionBlanc.cell2 = cellBlanc2;
		cellBlanc1.pion = pionBlanc;
		cellBlanc2.pion = pionBlanc;

	}	
	
	
	public void initAllPions(String couleur, Player player, int x, int y) {
		if (player != null) {
			Token pionCouleur = player.pion;
			pionCouleur = new Token(pionCouleur.couleur);
			Cell cellCouleur1;
			Cell cellCouleur2;
			if ( pionCouleur.couleur == "RED") {
				cellCouleur1 = this.plateau.getCellAtCoordinates(1, 0);
				cellCouleur2 = this.plateau.getCellAtCoordinates(2, 0);

			}else {
				cellCouleur1 = this.plateau.getCellAtCoordinates(1, 1);
				cellCouleur2 = this.plateau.getCellAtCoordinates(2, 1);
			}
			
			pionCouleur.cell1 = cellCouleur1;
			pionCouleur.cell2 = cellCouleur2;
			player.pion = pionCouleur;
			cellCouleur1.pion = pionCouleur;
			cellCouleur2.pion = pionCouleur;

		}else {
			this.pionBlanc = new Token("WHITE");
			Cell cellBlanc1 = this.plateau.getCellAtCoordinates(1, 2);
			Cell cellBlanc2 = this.plateau.getCellAtCoordinates(2, 2);
			this.pionBlanc.cell1 = cellBlanc1;
			this.pionBlanc.cell2 = cellBlanc2;
			cellBlanc1.pion = pionBlanc;
			cellBlanc2.pion = pionBlanc;
			
		}
}


Dans doPlayerTurn:
1- afficher le tableau avec les choix pour le pion du joueur
2- recuperer le choix du joueur
3- affiche (le premier tableau et) le resultat
4- on affiche le tableau avec les choix pour le piosnt blanc
5- récuperer le choix du joueur
6- afficher le premier tableau et le resultat


AfficherWithChoiceCell:
il faut faire la même chose mais pour les pions vertical pour le if
pour savoir si on affiche une ou deux possibilités
Iµl faut tester pour un pion vertical et un pion horizontal si le déplacement sur la cell courante(this) est valide
on ajoute les pions temporaires a la map static choices, sans oublier d'incrémenter choices à chaque fois qu'un choix valide est detecté

f6 --> aller a l'instruction suivante
f8 --> aller au prochain point d'arret
f5 --> rentrer dans la fonction
